<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird.framework.xsy.mall.mapper.MallUserPasswordRecordMapper">
    <resultMap id="BaseResultMap" type="com.bird.framework.xsy.mall.entity.UserPasswordRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="last_password" jdbcType="VARCHAR" property="lastPassword"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, last_password, created
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_user_password_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_user_password_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bird.framework.xsy.mall.entity.UserPasswordRecord">
        insert into mall_user_password_record (id, user_id, last_password,
        created)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{lastPassword,jdbcType=VARCHAR},
        #{created,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.bird.framework.xsy.mall.entity.UserPasswordRecord">
        insert into mall_user_password_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="lastPassword != null">
                last_password,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="lastPassword != null">
                #{lastPassword,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bird.framework.xsy.mall.entity.UserPasswordRecord">
        update mall_user_password_record
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="lastPassword != null">
                last_password = #{lastPassword,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bird.framework.xsy.mall.entity.UserPasswordRecord">
        update mall_user_password_record
        set user_id = #{userId,jdbcType=BIGINT},
        last_password = #{lastPassword,jdbcType=VARCHAR},
        created = #{created,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectLastByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select t1.*
        from mall_user_password_record t1 inner join mall_user t2 on t1.user_id=t2.id
        where t2.username=#{username} and t2.status='1' order by created desc limit 1
    </select>
</mapper>