<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird.framework.xsy.mall.mapper.MovieMapper">
    <resultMap id="BaseResultMap" type="com.bird.framework.xsy.mall.entity.Movie">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="cinema" jdbcType="VARCHAR" property="cinema"/>
        <result column="movie" jdbcType="VARCHAR" property="movie"/>
        <result column="screen" jdbcType="VARCHAR" property="screen"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="seats" jdbcType="VARCHAR" property="seats"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="discount" jdbcType="INTEGER" property="discount"/>
        <result column="fee" jdbcType="INTEGER" property="fee"/>
        <result column="buyer" jdbcType="VARCHAR" property="buyer"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="paid" jdbcType="TIMESTAMP" property="paid"/>
        <result column="pay_no" jdbcType="VARCHAR" property="payNo"/>
        <result column="payment" jdbcType="INTEGER" property="payment"/>
        <result column="sent2seller" jdbcType="TIMESTAMP" property="sent2seller"/>
        <result column="seller" jdbcType="VARCHAR" property="seller"/>
        <result column="assigned" jdbcType="TIMESTAMP" property="assigned"/>
        <result column="payload" jdbcType="VARCHAR" property="payload"/>
        <result column="sent2audit" jdbcType="TIMESTAMP" property="sent2audit"/>
        <result column="sent2buyer" jdbcType="TIMESTAMP" property="sent2buyer"/>
        <result column="cancelled" jdbcType="TIMESTAMP" property="cancelled"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="finished" jdbcType="TIMESTAMP" property="finished"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, code, location, cinema, movie, screen, time, seats, mobile, price, count, total, discount, fee, buyer, created,
        paid, pay_no, payment, sent2seller, seller, assigned, payload, sent2audit, sent2buyer,
        cancelled, reason, status, version, finished
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_movie
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_movie
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        insert into mall_movie (id, code, location,
        cinema, movie, screen, time, seats,
        mobile, price, count, total, discount,
        fee, buyer, created,
        paid, pay_no, payment,
        sent2seller, seller, assigned,
        payload, sent2audit, sent2buyer,
        cancelled, reason, status,
        version, finished)
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
        #{cinema,jdbcType=VARCHAR}, #{movie,jdbcType=VARCHAR}, #{screen,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP},
        #{seats,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{count,jdbcType=INTEGER},
        #{total,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, #{fee,jdbcType=INTEGER}, #{buyer,jdbcType=VARCHAR},
        #{created,jdbcType=TIMESTAMP}, #{paid,jdbcType=TIMESTAMP}, #{payNo,jdbcType=VARCHAR}, #{payment,jdbcType=INTEGER},
        #{sent2seller,jdbcType=TIMESTAMP}, #{seller,jdbcType=VARCHAR}, #{assigned,jdbcType=TIMESTAMP},
        #{payload,jdbcType=VARCHAR}, #{sent2audit,jdbcType=TIMESTAMP}, #{sent2buyer,jdbcType=TIMESTAMP},
        #{cancelled,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
        #{version,jdbcType=INTEGER}, #{finished,jdbcType=TIMESTAMP})
    </insert>
    <select id="selectByMultiParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_movie
        where 1=1
        <if test="location != null">
            and location=#{location}
        </if>
        <if test="cinema != null">
            and cinema=#{cinema}
        </if>
        <if test="movie != null">
            and movie=#{movie}
        </if>
        <if test="buyer != null">
            and buyer=#{buyer}
        </if>
        <if test="seller != null">
            and seller=#{seller}
        </if>
        <if test="mobile != null">
            and mobile=#{mobile}
        </if>
    </select>
    <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_movie
        where code=#{code}
    </select>
    <update id="cancel" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        cancelled = now(),
        reason = #{payload,jdbcType=VARCHAR},
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
    <update id="pay" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        paid = now(),
        pay_no = #{payNo,jdbcType=VARCHAR},
        payment = #{payment,jdbcType=INTEGER},
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
    <update id="send2seller" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        sent2seller = now(),
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
    <update id="assign" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        seller = #{seller,jdbcType=VARCHAR},
        assigned = now(),
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
    <update id="send2audit" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        send2audit = now(),
        payload = #{payload,jdbcType=VARCHAR},
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
    <update id="send2buyer" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        sent2buyer = now(),
        payload = #{payload,jdbcType=VARCHAR},
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
    <update id="finish" parameterType="com.bird.framework.xsy.mall.entity.Movie">
        update mall_movie
        set
        finished = now(),
        status = #{status,jdbcType=CHAR},
        version = version+1
        where id = #{id,jdbcType=BIGINT} and version=#{version}
    </update>
</mapper>