<div th:replace="head" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<body ontouchstart>
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
        <div class="weui-grids">
            <a href="movie" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-dianying" style="color: #1c4587">
                </i>
                <p class="weui-grid__label">
                    影票
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-icon-" style="color: #ff7d00">
                </i>
                <p class="weui-grid__label">
                    餐券
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-huafei" style="color: #06cc06">
                </i>
                <p class="weui-grid__label">
                    话费
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-liuliang" style="color: #069778e6">
                </i>
                <p class="weui-grid__label">
                    流量
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-shuifei" style="color: #00ffff">
                </i>
                <p class="weui-grid__label">
                    水费
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-jiaodianfei" style="color: #ff0000">
                </i>
                <p class="weui-grid__label">
                    电费
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-menpiao" style="color: #0000ff">
                </i>
                <p class="weui-grid__label">
                    门票
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-jiayouzhan" style="color: #069778e6">
                </i>
                <p class="weui-grid__label">
                    加油
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <i class="weui-grid__label iconfont icon-xiche" style="color: #b6d7a8">
                </i>
                <p class="weui-grid__label">
                    洗车
                </p>
            </a>
        </div>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <i class="weui-media-box__hd iconfont icon-shanghuxianxing" style="font-size: 50px">
            </i>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">买家中心</h4>
                <p class="weui-media-box__desc">订单查询、支付、确认</p>
            </div>
        </a>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <i class="weui-media-box__hd iconfont icon-shanghutianchong" style="font-size: 50px">
            </i>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">卖家中心</h4>
                <p class="weui-media-box__desc">订单查询、商品出货</p>
            </div>
        </a>
    </div>
</div>
</body>
<div th:replace="js" xmlns:th="http://www.w3.org/1999/xhtml"></div>