<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird.framework.xsy.operate.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.bird.framework.xsy.operate.entity.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <association property="menu" javaType="com.bird.framework.xsy.operate.entity.Menu">
            <id column="parent_id" property="id" jdbcType="BIGINT"/>
            <result column="parent_code" property="code" jdbcType="VARCHAR"/>
            <result column="parent_name" property="name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id, code, name, category, parent_id, url, status, version
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        t1.*, t2.code as parent_code, t2.name as parent_name
        from operate_menu t1 left join operate_menu t2 on t1.parent_id = t2.id
        where t1.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update operate_menu set status='0'
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bird.framework.xsy.operate.entity.Menu" useGeneratedKeys="true"
            keyProperty="id">
        insert into operate_menu (id, code, name,
        category, parent_id, url, status,
        version)
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{category,jdbcType=CHAR}, #{parentId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
        #{version,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.bird.framework.xsy.operate.entity.Menu" useGeneratedKeys="true"
            keyProperty="id">
        insert into operate_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=CHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bird.framework.xsy.operate.entity.Menu">
        update operate_menu
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=CHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bird.framework.xsy.operate.entity.Menu">
        update operate_menu
        set code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        category = #{category,jdbcType=CHAR},
        parent_id = #{parentId,jdbcType=BIGINT},
        url = #{url,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR},
        version = #{version,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="tree" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from operate_menu
        where parent_id = #{parentId,jdbcType=BIGINT}
    </select>
    <select id="privileges" resultMap="BaseResultMap">
        select
        distinct t1.*
        from operate_menu t1
        inner join operate_role_menu t2 on t1.id=t2.menu_id
        inner join operate_role t3 on t2.role_id=t3.id
        where t1.parent_id = #{parentId,jdbcType=BIGINT} and t1.status='1'
        and t3.code in
        <foreach collection="roles" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findAll" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from operate_menu
        where parent_id=#{parentId}
    </select>
    <select id="allByRole" resultType="map" parameterType="string">
        select
          t1.id, t1.code, t1.name, t1.category, t1.parent_id, t1.url, t4.state
        from operate_menu t1
          left join
          (select t2.menu_id,t2.state from operate_role_menu t2 inner join operate_role t3 on t2.role_id=t3.id where t3.code=#{code}) t4
          on t1.id=t4.menu_id
        where t1.status='1'
        order by t1.parent_id, t1.id
    </select>
</mapper>
